<launch>
  <node name="autonomous_publisher" pkg="test_get_image" type="autonomous_node.py" output="screen"/>
  <node name="ultrasonic_publisher" pkg="test_get_image" type="ultrasonic_node.py" output="screen"/>
  <node name="motor_controller" pkg="test_get_image" type="motor_control_node.py" output="screen"/>
  <node name="manual_publisher" pkg="test_get_image" type="manual_node.py" output="screen"/>
</launch>